@import "colors.css";

* {
    background-image: none;
    /* background-image: "/home/rajat/.config/theme-switcher/cache/blurred_wallpaper.jpg"; */
    font-size: 16px;
}

window {
    background-color: alpha(#000000, 0.07);
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button {
    color: @accent;
    background-color: alpha(@bg, 0.47);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 20px;
    margin: 7px;
    padding: 35px 60px;

    transition: all 0.2s ease;
}

button:hover {
    background-color: alpha(@accent, 0.47);
    background-size: 35%;
    border-radius: 20px;
}

button:focus {
    background-color: alpha(@accent, 0.47);
    background-size: 35%;
}

/* TEXTO */
button label {
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* OCULTAR TEXTO */
button:hover label {
    opacity: 0;
}

button:focus label {
    opacity: 0;
}

/* ICONOS */
#lock {
    background-image: url("/home/rajat/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/rajat/.config/wlogout/icons/logout.png");
}

#hibernate {
    background-image: url("/home/rajat/.config/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/home/rajat/.config/wlogout/icons/shutdown.png");
    background-color: alpha(@err, 0.57);
}

#reboot {
    background-image: url("/home/rajat/.config/wlogout/icons/reboot.png");
}

#suspend {
    background-image: url("/home/rajat/.config/wlogout/icons/suspend.png");
}