/*****----- Configuration -----*****/
configuration {
    show-icons: true;
}

/*****----- Imports -----*****/
@import "../colors.rasi"
@import "../fonts/font.rasi"

/*****----- Window -----*****/
window {
    transparency: "real";
    location: center;
    anchor: center;

    // width: 760px;

    margin: 0px;
    padding: 0px;

    border: 1px solid;
    border-radius: 12px;
    border-color: @border;

    background-color: @bg-main;
}

/*****----- Main Box -----*****/
mainbox {
    spacing: 12px;
    margin: 0px;
    padding: 16px;

    background-color: transparent;

    children: [ "inputbar", "listview" ];
}

/*****----- Input -----*****/
inputbar {
    children: [ "prompt", "entry" ];

    spacing: 10px;
    padding: 10px 14px;

    border: 0px;
    border-radius: 10px;

    background-color: @bg-surface;
}

prompt {
    enabled: true;
    text-color: @accent;
    background-color: transparent;
}

textbox-prompt-colon {
    enabled: false;
}

entry {
    expand: true;

    // placeholder: "search...";

    background-color: transparent;
    text-color: @fg-primary;

    cursor: text;
}

/*****----- List View -----*****/
listview {
    columns: 4;
    lines: 2;

    layout: vertical;

    dynamic: false;
    fixed-height: false;

    cycle: true;

    // spacing: 8px;

    scrollbar: false;

    background-color: transparent;
}

/*****----- Element -----*****/
element {
    orientation: vertical;
    children: [ "element-icon", "element-text" ];

    // spacing: 8px;

    // padding: 6px 0px;

    border: 0px;
    border-radius: 10px;

    background-color: transparent;
    text-color: @fg-primary;

    cursor: pointer;
}

/*****----- Thumbnail -----*****/
element-icon {
    size: 132px;

    expand: true;

    background-color: transparent;

    horizontal-align: 0.5;
    vertical-align: 0.5;
}
    
/*****----- Filename -----*****/
element-text {
    enabled: false;
    font: "monospace 10";

    background-color: transparent;
    text-color: inherit;

    horizontal-align: 0.5;
    // vertical-align: 0.5;

    cursor: inherit;
}

/*****----- States -----*****/
element normal.normal,
element alternate.normal {
    background-color: transparent;
    text-color: @fg-primary;
}

element normal.active,
element alternate.active {
    background-color: @hover-bg;
    text-color: @hover-fg;
}

element selected.normal {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element selected.active {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element normal.urgent,
element alternate.urgent,
element selected.urgent {
    background-color: @danger-soft;
    text-color: @danger;
}