/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                         "../colors.rasi"
@import                         "../fonts/font.rasi"

/*****----- Main Window -----*****/
window {
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;

    width:                      300px;
    // height:                     200px;

    margin:                     0px;
    padding:                    0px;

    border:                     1px solid;
    border-radius:              12px;
    border-color:               @border;

    background-color:           @bg-main;
    cursor:                     "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                    true;

    spacing:                    0px;
    margin:                     0px;
    padding:                    12px;

    background-color:           transparent;

    children:                   [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    enabled:                    true;

    columns:                    1;
    lines:                      6;
    dynamic:                    true;
    fixed-height:               false;

    cycle:                      true;
    layout:                     vertical;

    spacing:                    6px;

    background-color:           transparent;
    cursor:                     "default";
}

/*****----- Elements -----*****/
element {
    enabled:                    true;

    padding:                    10px 12px;

    border:                     0px;
    border-radius:              8px;

    background-color:           transparent;
    text-color:                 @fg-primary;

    cursor:                     pointer;
}

element-text {
    font:                       "monospace 11";

    background-color:           transparent;
    text-color:                 inherit;

    cursor:                     inherit;

    vertical-align:             0.5;
    horizontal-align:           0.0;
}

element-icon{
    enabled:                    false;
}

element normal.normal,
element alternate.normal {
    background-color:           transparent;
    text-color:                 @fg-primary;
}

element normal.active,
element alternate.active {
    background-color:           @hover-bg;
    text-color:                 @hover-fg;
}

element normal.urgent,
element alternate.urgent {
    background-color:           @danger-soft;
    text-color:                 @danger;
}

element selected.normal {
    background-color:           @selected-bg;
    text-color:                 @selected-fg;
}

element selected.active {
    background-color:           @danger-soft;
    text-color:                 @danger;
}

element selected.urgent {
    background-color:           @hover-bg;
    text-color:                 @hover-fg;
}