/*****----- Configuration -----*****/
configuration {
    modi:                       "drun,filebrowser,run";
    show-icons:                 false;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
@import                         "../colors.rasi"
@import                         "../fonts/font.rasi"

/*****----- Main Window -----*****/
window {
    transparency:               "real";
    location:                   south;
    anchor:                     south;
    fullscreen:                 false;
    width:                      400px;
    x-offset:                   0px;
    y-offset:                   0px;

    enabled:                    true;
    border-radius:              17px 17px 0px 0px;
    cursor:                     "default";
    background-color:            var(bg-main);
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                    true;
    spacing:                    0px;
    background-color:            transparent;
    orientation:                vertical;
    children:                   [ "inputbar", "listbox" ];
}

listbox {
    spacing:                    20px;
    padding:                    20px;
    background-color:            transparent;
    orientation:                vertical;
    children:                   [ "message", "listview", "mode-switcher" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                    true;
    spacing:                    10px;
    padding:                    90px 40px;
    background-color:            transparent;
    background-image:            url("~/.config/theme-switcher/state/current_wallpaper", width);
    text-color:                  var(fg-primary);
    orientation:                 horizontal;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enabled:                    true;
    expand:                     false;
    str:                        "";
    padding:                    12px 15px;
    border-radius:              100%;
    background-color:            var(bg-surface);
    text-color:                  inherit;
}

entry {
    enabled:                    true;
    expand:                     true;
    padding:                    12px 16px;
    border-radius:              100%;
    background-color:            var(bg-surface);
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

/*****----- Mode Switcher -----*****/
mode-switcher {
    enabled:                    true;
    spacing:                    10px;
    background-color:            transparent;
    text-color:                  var(fg-primary);
}

button {
    padding:                     12px;
    border-radius:               100%;
    background-color:            var(bg-surface);
    text-color:                  inherit;
    cursor:                      pointer;
}

button selected {
    background-color:            var(selected-bg);
    text-color:                  var(selected-fg);
}

/*****----- Listview -----*****/
listview {
    enabled:                    true;
    columns:                    1;
    lines:                      5;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    reverse:                    false;
    fixed-height:               true;
    fixed-columns:              true;
    spacing:                    10px;
    background-color:            transparent;
    text-color:                  var(fg-primary);
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                    true;
    spacing:                    10px;
    padding:                    12px;
    border-radius:              100%;
    background-color:            transparent;
    text-color:                  var(fg-primary);
    cursor:                      pointer;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element normal.urgent {
    background-color:            var(danger);
    text-color:                  var(selected-fg);
}

element normal.active {
    background-color:            var(accent);
    text-color:                  var(selected-fg);
}

element selected.normal {
    background-color:            var(selected-bg);
    text-color:                  var(selected-fg);
}

element selected.urgent {
    background-color:            var(danger);
    text-color:                  var(selected-fg);
}

element selected.active {
    background-color:            var(danger);
    text-color:                  var(selected-fg);
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        32px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}

textbox {
    padding:                     12px;
    border-radius:               100%;
    background-color:            var(bg-surface);
    text-color:                  var(fg-primary);
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

error-message {
    padding:                     15px;
    border-radius:               0px;
    background-color:            var(bg-main);
    text-color:                  var(fg-primary);
}